<!-- Header -->
<%- include('../../layout/header.ejs') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Setting Fee</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Setting Fee</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

 <!-- Main content -->
 <section class="content">
  <div class="container-fluid">
    <nav class="nav nav-pills flex-column flex-sm-row">
      <a class="flex-sm-fill text-sm-center nav-link <%= subpath === 'fee' ? 'active' : '' %>" href="/fee">Purchase & Bill</a>
      <a class="flex-sm-fill text-sm-center nav-link <%= subpath === 'transfer_dana' ? 'active' : '' %>" href="/transfer">Transfer Dana</a>
      <a class="flex-sm-fill text-sm-center nav-link <%= subpath === 'inquiry' ? 'active' : '' %>" href="/inquiry">Inquiry</a>
    </nav>
    <br/>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row">
          <div class="col-12">
            <div class="card">
              
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="form-inline">
                      <!-- <div class="form-group mr-2">
                        <label>Semua Aktivitas : </label>
                        <select class="form-control" style="width: 100px;" id="table1_activation">
                          <option value="">Select</option>
                          <option>Aktif</option>
                          <option>Non Aktif</option>
                        </select>
                      </div> -->
    
                      <div class="form-group">
                        <label>Status Config : </label>
                        <select class="form-control" style="width: 100px;" id="table1_status">
                          <!-- <option>Select</option> -->
                          <option value="">All</option>
                          <option>Draf</option>
                          <option>Submitted</option>
                          <option>Rejected</option>
                          <option>Approved</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label>Search : </label>
                        <input type="text" id="search" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm">
                    <% var reject = previllage.includes(20); if (reject) { %>
                      <button type="button" class="btn btn-warning float-right mr-2 reject" role="group" data-toggle="modal" data-target=".reject"><i class="fa fa-times"></i> Reject</button>
                    <% } %>
                    <% var approve = previllage.includes(19); if (approve) { %>
                      <button type="button" class="btn btn-success float-right mr-2 approve" role="group" data-toggle="modal" data-target=".approve"><i class="fa fa-check"></i> Approve</button>
                    <% } %>
                    <% var submit = previllage.includes(18); if (submit) { %>
                      <button type="button" class="btn btn-secondary float-right mr-2 submit" role="group" data-toggle="modal" data-target=".submit"><i class="fa fa-paper-plane"></i> Submit</button>
                    <% } %>
                    <% var create = previllage.includes(15); if (create) { %>
                      <a href="/purchase" class="btn btn-primary float-right mr-2" role="group"><i class="fa fa-pen"></i> Create</a>
                    <% } %>
                  </div>
                </div>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="table1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>
                      <input type="checkbox" name="check_all" class="check_all">
                    </th>
                    <!-- <th>Request Aktivasi</th> -->
                    <th>Pcode</th>
                    <th>Biller Code</th>
                    <th>Product Type</th>
                    <th>Product Code</th>
                    <th>Transaksi</th>
                    <th>No. Rek</th>
                    <th>User Create</th>
                    <th>User Approval</th>
                    <th>Tanggal Approval</th>
                    <th>Status Config</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    <% for (let purchase of purchaseBill) { %>
                      <tr>
                        <td>
                          <input type="checkbox" name="id" value="<%= purchase.id %>" />
                        </td>
                        <!-- <td><%= purchase.request_activation ? 'Aktif' : 'Non Aktif' %></td> -->
                        <td><%= purchase.pcode %></td>
                        <td><%= purchase.biller_code %></td>
                        <td><%= purchase.product_type %></td>
                        <td><%= purchase.product_code %></td>
                        <td><%= purchase.transaksi %></td>
                        <td><%= purchase.rek_number %></td>
                        <td><%= purchase.user_created %></td>
                        <td><%= purchase.user_approver %></td>
                        <td><%= purchase.approval_date ? moment(purchase.approval_date).format('YYYY-MM-DD HH:mm:ss') : '-' %></td>
                        <%
                          var status = '';
                          if (purchase.status === 1)
                            status = 'Draft'
                          if (purchase.status === 2)
                            status = 'Submitted'
                          if (purchase.status === 3)
                            status = 'Approved'
                          if (purchase.status === 4)
                            status = 'Rejected'
                        %>
                        <td><%= status %></td>
                        <td>
                          <% if (purchase.status === 1 || purchase.status === 4) { %>
                            <% var edit = previllage.includes(16); if (edit) { %>
                              <a class="btn btn-success" href="/edit-purchase/<%= purchase.id %>"> <i class="fa fa-edit"></i></a>
                            <% } %>
                            <% var del = previllage.includes(17); if (del) { %>
                              <button class="btn btn-danger remove" data-id="<%= purchase.id %>"><i class="fa fa-trash"></i></button>
                            <% } %>
                          <% } else { %>
                            <% var info = previllage.includes(14); if (info) { %>
                              <a class="btn btn-info" href="/view-purchase/<%= purchase.id %>"> <i class="fa fa-eye"></i></a>
                            <% } %>
                          <% } %>
                        </td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
      </div>
    </div>

    
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Modal Edit -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div>

<%- include('../../layout/footer/js.ejs'); %>

<!-- Additional Js -->
<script src="/js/sweetalert2.min.js"></script>
<script>
  // $(function () {
  //   $("#example1").DataTable({
  //     "responsive": true,
  //     "autoWidth": false,
  //   });
  // });

  // Filter Activations
  $(document).ready(function (){
    var table = $("#table1").DataTable({
      "responsive": true,
      "autoWidth": false,
      dom: 'lrtip'
    });
    
    $('#table1_activation').on('change', function(){
       table.search(this.value).draw();   
    });

    $('#table1_status').on('change', function(){
       table.search(this.value).draw();   
    });

    $('#search').on( 'keyup', function () {
        table.search( this.value ).draw();
    });

    // Check all data
    $('.check_all').on('click', function(e) {
      $('input[name="id"]').prop('checked', $(this).prop('checked')).trigger('change');
    });

    // Submit Data
    $('.submit').click(function(){
        var ids = [];
        $.each($("input[name='id']:checked"), function(){
          ids.push(parseInt($(this).val()));
        });

        param = { ids: ids };

        console.log('Submit Processing');
        Swal.fire({
          title: 'Are you sure want to submit?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes'
        })
        .then((result) => {
          if (result.isConfirmed) {
            $.get("/submit-purchase", param, function (response) {
              console.log(response);

              if (response.code == 200) {
                Swal.fire(
                  response.label,
                  response.message,
                  response.status
                ).then(res => {
                  location.reload();
                });
              } else {
                Swal.fire(
                  response.label,
                  response.message,
                  response.status
                ).then(res => {
                  location.reload();
                });
              }
            });
          } else {
            location.reload();
          }
        });
    });

    // approve
    $('.approve').click(function(){
      var ids = [];
      $.each($("input[name='id']:checked"), function(){
        ids.push(parseInt($(this).val()));
      });

      param = { ids: ids };
      Swal.fire({
        title: 'Are you sure want to approve?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes'
      })
      .then((result) => {
        if (result.isConfirmed) {
          $.get("/approve-purchase", param, function (response) {
            if (response.code == 200) {
              Swal.fire(
                response.label,
                response.message,
                response.status
              ).then(res => {
                location.reload();
              });
            } else {
              Swal.fire(
                response.label,
                response.message,
                response.status
              ).then(res => {
                location.reload();
              });
            }
          });
        } else {
            location.reload();
          }
      });
    });

    // reject
    $('.reject').click(function(){
      var ids = [];
      $.each($("input[name='id']:checked"), function(){
        ids.push(parseInt($(this).val()));
      });

      param = { ids: ids };
      Swal.fire({
        title: 'Are you sure want to reject?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes'
      })
      .then((result) => {
        if (result.isConfirmed) {
          $.get("/reject-purchase", param, function (response) {
            if (response.code == 200) {
              Swal.fire(
                response.label,
                response.message,
                response.status
              ).then(res => {
                location.reload();
              })
            } else {
              Swal.fire(
                response.label,
                response.message,
                response.status
              ).then(res => {
                location.reload();
              })
            }
          });
        } else {
            location.reload();
          }
      });
    });
  });

  $(document).on('click', '.remove', function (e) {
    e.preventDefault();
    var id = $(this).data('id');

    Swal.fire({
      title: 'Are you sure want to delete?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url:'/delete-purchase/'+id,
          data:id,
          dataType:'JSON',
          type:'GET',
          success:function(response){
            if (response.code == 200) {
              Swal.fire(
                response.label,
                response.message,
                response.status
              )
              location.reload();
            } else {
              Swal.fire(
                response.label,
                response.message,
                response.status
              )
            }
          },
          error: function (xhr, ajaxOptions, thrownError) {
            
          },
        });
      } else {
        location.reload();
      }
    })
  });
</script>
  
<!-- Footer -->
<%- include('../../layout/footer.ejs') %>